body{
    background-color:rgb(48, 12, 48);
    background-size: cover ;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 , h3, li{
    font-family: "Wonderland";
    text-align: center;
}

h2{
    font-size: 40px;
    padding:0px;
    margin:0px; 
    color:rgb(146, 46, 80);
    -webkit-text-stroke: 0.1px rgba(31, 209, 61, 0.808);
    background-color: rgb(0, 0, 0);
}
 
.imagen ul li{
    color:white;
    list-style: none;
    padding:10px;
    font-size:30px;
    margin-left:-4%; 
    position:relative;
    top:30px;
}

.contenedorPlanes{
    width:95%;
    height:450px;
    margin:2% 2.5%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 20px;x

}

.contenedorIndividual{
    background-image: url("../multimedia/fondo1.jpg");
    width: 25.8%;
    height: 450px;
    display: inline-block;
    overflow:hidden;
    border-radius:20px;
}

.imagen{
    border-radius: 79.5%;
    width: 67%;
    height: 278px;
    margin-top: 27.5%;
    margin-left: 19.8%;
    background-color:black;
}

.imagen1{
    border-radius:79.5%;
    width: 67%;
    height: 278px;  
    position: relative;
    top: -277px;
    left: 20%;
    padding: 0px;
}

#eat{
    margin-left: 6%;
}

/* ul{
    margin-left:-15%;
} */

a{
    text-decoration: none;
    color:white;
}

.contenedorIndividualTitulo{
    width:30%;
    height: 450px;;
    display: inline-block;
    overflow:hidden;
    border-radius:15px;
    margin:0px 3%;
}


.titulo{
    font-size:60px;
    color:rgb(98, 167, 152);
    -webkit-text-stroke: 0.1px rgba(136, 117, 117, 0.678); 
}

.titulo1 , #tituloEat{
    background-color:rgb(0, 0, 0); 
}

#tituloEat{
    width:100%;
    float:left;
}



/***************************************************************************************/

.contenedorAparecerImagenes{
    width: 100%;
    padding:0;
    height:630px;
    background-image: url(../multimedia/paisaje1.jpg);
    background-size:100% 100%;
    margin-bottom:2%;
    z-index: 1;
    overflow: hidden;
}

.imagenesFondo{
    width:20%;
    height:300px;
    position:relative;
   
}

#alicia{
    top:8%;
    left:-50px;
    
}

#reina{
  top:40%;
  left:60%;

}

#loco{
   left:30%;
   top:12%;
}

#conejo{
    top:40%;
    right:30%;
}

.activar{
    opacity:0;

}

.desactivar{
    opacity:1;
}

/*******************************************************************PAGINA 2****************************************************************************/
.caja{
    width:95%;   
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    margin:2% 2.5%;
}

.subcaja{
    width: 30%;
    height: 400px;
    border-radius: 50px 3px;
    overflow:hidden;
    float:left;
    margin:10px 10%;

}

.subcaja1{
    width: 30%;
    height: 400px;    
    border-radius: 50px 3px;
    overflow:hidden;
    display: inline-block; 
    margin:10px 1.4%;
}

.imagen2{
    width:100%;
    height:90%; 
}
.subcaja:hover, .subcaja1:hover{
    transform: scale(1.05)

}


/****************************************************************************************************************************/
@font-face{
    font-family: "Wonderland";
    src: url("../fuente/Wonderland.ttf");
}